<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>hover card open effect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="card">
    <div class="face cover">
      <div class="content">
        <img src="https://icon-library.net/images/picture-icon-png/picture-icon-png-26.jpg"></img>
      <h3>design</h3>
    </div>
    </div>
    <div class="face cover2">
      <div class="content">
        <p>Testing for test here test.</p>
        <a>Read More</a>
      </div>
    </div>
  </div>
 <div class="card">
    <div class="face cover">
      <div class="content">
        <img src="https://icon-library.net/images/picture-icon-png/picture-icon-png-26.jpg"></img>
      <h3>design</h3>
    </div>
    </div>
    <div class="face cover2">
      <div class="content">
        <p>Testing for test here test.</p>
        <a>Read More</a>
      </div>
    </div>
  </div>
 <div class="card">
    <div class="face cover">
      <div class="content">
        <img src="https://icon-library.net/images/picture-icon-png/picture-icon-png-26.jpg"></img>
      <h3>design</h3>
    </div>
    </div>
    <div class="face cover2">
      <div class="content">
        <p>Testing for test here test.</p>
        <a>Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  
</body>
</html>